<style>
    nav{
        text-align: center;
    }
</style>
<nav>
    <h1>Your Music App</h1>
    <h4><%= pagename %></h4>
    <a href='/'>Home</a>
    <a href='/admin/song/add'>Add Song</a>
    <a href='/admin/artist/add'>Add Artist</a>
    <br>
</nav>